# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Downloaded files
*.patch
*.gz

# Build targets
local
tiff-*
raspi_dng
raspiraw
